/* Main Color */
/* #0be881 */

/* General */

html {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(245, 245, 245);
}

i {
    color: #0be881;
}

h1 {
    font-size: 4rem;
}

hr {
    width: 35%;
    border: 0px solid rgb(245, 245, 245);
    box-shadow: 1px 1px 1px 1px rgb(245, 245, 245);
}

.break {
    width: 80%;
    margin:  150px auto;
    text-align: center;
}

.transition-one {
    font-weight: 300;
}

/* Nav */

.top-row {
    display: flex;
    justify-content: space-between;
    margin: auto;
    vertical-align: middle;
}

.nav-logo {
    width: 20%;
    height: auto;
    padding: 10px;
}

.nav-links {
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: right;
}

.logo {
    width: 75px;
    height: 75px;
}

.email {
    font-family: 'Kumbh Sans', sans-serif;
    color: #0be881;
    border: 1px solid #0be881;
    border-radius: 40px;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    width: 100px;
    height: 50px;
    outline: none;
}

.email:hover {
    color: white;
    background-color: #0be881;
    cursor: pointer;
}

/*  */
/* Header */
/*  */

.heading {
    display: block;
    margin-top: 250px;
    text-align: center;
}

#subtitle {
    font-weight: 300;
}

/* Introduction */

.first-section {
    margin: 125px auto;
    background-color: #0be881;
    color: white;
    text-align: center;
}

.intro {
    padding-top: 150px;
    padding-bottom: 150px;
    width: 50%;
    margin: auto;
}

@media (max-width: 500px) {
    .intro {
        width: 75%;
    }
}

.intro p {
    line-height: 2;
}

/*  */
/* Skills */
/*  */

.second-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

.skills {
    width: 90%;
    margin-bottom: 50px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #525252;
    background-color: #0be881;
}

@media (min-width: 500px) and (max-width: 1522px) {
    .skills {
        width: 60%;
    }
}

@media (min-width: 1523px) {
    .second-section {
        flex-direction: row;
    }

    .skills {
        margin-top: 120px;
        width: 500px;
    }
}

.skills-header {
    background-color: rgb(245, 245, 245);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
    margin: auto;
    line-height: 2;
}

.skills-header i {
    margin-bottom: 25px;
}

.skills-header h3 {
    margin-bottom: 25px;
}

.skills-body {
    margin: auto;
    border-top: 1px solid #d6d6d6;
    width: 70%;
}

.skills-body h3 {
    color: white;
    font-weight: 300;
}

.skills-body p {
    color: white;
    line-height: 2;
}

/*  */
/* Projects */
/*  */

.third-section {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.project {
    width: 30%;
    height: 250px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 10px;
    vertical-align: middle;
    margin: 2.5% 5% 2.5% 5%;
}

.project-description {
    display: none;
    transition: display 2s;
    background-color: #808e9b;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.project-description h3 {
    margin-top: 0;
    padding-top: 75px;
    line-height: 2;
    color: white;
}

.project-visit {
    background-color: rgba(0,0,0,0);
    border: 1px solid #0be881;
    color: #0be881;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 10px;
    width: 100px;
    height: 50px;
    border-radius: 40px;
    outline: none;
}

.project-visit a {
    text-decoration: none;
    color: white;
}

.project-visit:hover {
    background-color: #0be881;
    color: white;
    cursor: pointer;
}

#project-one {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./img/ror2.jpg);
    background-position: center;
}

#project-two {
    background-image: url(./img/expensify.jpg);
    background-position: center;
}

#project-three {
    background-image: url(./img/prod.jpg);
    background-position: center;
    background-size: cover;
}